[submodule "lib/godot-cpp"]
	path = lib/godot-cpp
	url = https://github.com/GodotNativeTools/godot-cpp.git
[submodule "lib/rotten-SpoutVulkan"]
	path = lib/rotten-SpoutVulkan
	url = https://github.com/RottenC/rotten-SpoutVulkan
